################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VasysRomanNumeralsKata/bin
/VasysRomanNumeralsKata/obj
/VasysRomanNumeralsKataTest/bin
/VasysRomanNumeralsKataTest/obj
*.suo