################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VasysRomanNumeralsKata/bin/Debug/netcoreapp1.1
